/* @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"); */
@import url("http://fonts.cdnfonts.com/css/monument-extended");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Monument Extended", sans-serif;
  /* background: url(https://media.giphy.com/media/3oEduMhFrYvKk4giac/giphy.gif)
    no-repeat 50% 50%; */
  background: #000000;
}

a {
  text-decoration: none;
}

/* Navbar */

#navbar {
  display: flex;
  background: black;
  color: white;
  justify-content: space-between;
  padding: 1rem;
}

.logo {
  padding-left: 3rem;
  font-size: 1.25rem;
  color: white;
}

#navbar .nav {
  color: white;
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

#navbar .nav {
  padding: 0 10rem;
}

#navbar .nav a {
  padding: 0 30px;
}

.hover-this {
  transition: all 0.3s ease;
}

span {
  display: inline-block;
  font-family: "Monument Extended";
  font-weight: 300;
  color: #fff;
  font-size: 1rem;
  text-transform: uppercase;
  pointer-events: none;
  transition: transform 0.1s linear;
}

.cursor {
  pointer-events: none;
  position: fixed;
  padding: 0.3rem;
  background-color: #fff;
  border-radius: 50%;
  mix-blend-mode: difference;
  transition: transform 0.3s ease;
}

.hover-this:hover ~ .cursor {
  transform: translate(-50%, -50%) scale(3);
}

@media (min-width: 900px) {
  .nav {
    display: flex;
    justify-content: space-around;
  }
}

@media (max-width: 900px) {
  .nav {
    top: 30%;
  }

  .hover-this {
    width: 100%;
    padding: 20px 0;
    display: inline-block;
  }
}

/* Menu */

.menu__item {
  position: relative;
  padding: 0 6vw;
}

.menu__item-link {
  display: inline-block;
  cursor: pointer;
  position: relative;
  -webkit-text-stroke: 1.5px #ffff;
  -webkit-text-fill-color: transparent;
  color: transparent;
  transition: opacity 0.4s;
}

.menu__item-link::before {
  all: initial;
  font-family: sofia-pro, sans-serif;
  counter-increment: menu;
  position: absolute;
  bottom: 60%;
  left: 0;
  pointer-events: none;
}

.menu__item-link:hover {
  transition-duration: 0.1s;
  opacity: 0;
}

.menu__item-img {
  pointer-events: none;
  position: absolute;
  height: 50vh;
  max-height: 400px;
  opacity: 0;
  left: 100%;
  top: 50%;
  transform: translate3d(calc(-100% - 6vw), -30%, 0) translate3d(0, 20px, 0);
}

.menu__item-link:hover + .menu__item-img {
  opacity: 1;
  transform: translate3d(calc(-100% - 6vw), -30%, 0) rotate3d(0, 0, 1, 4deg);
  transition: all 0.4s;
}

#menu {
  padding: 10vh 0 25vh;
  --offset: 20vw;
  --move-initial: calc(-25% + var(--offset));
  --move-final: calc(-50% + var(--offset));
  font-size: 7vw;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fff;
  pointer-events: none;
  mix-blend-mode: difference;
}

.marquee__inner {
  width: fit-content;
  display: flex;
  position: relative;
  animation: marquee 5s linear infinite;
  animation-play-state: paused;
  opacity: 0;
  transition: opacity 0.1s;
}

.menu__item-link:hover ~ .marquee .marquee__inner {
  animation-play-state: running;
  opacity: 1;
  transition-duration: 0.4s;
}

.menu__item-link,
.marquee span {
  white-space: nowrap;
  font-size: 7vw;
  padding: 0 1vw;
  font-weight: 900;
  line-height: 1.15;
}

.menu__item-link,
.marquee span {
  font-size: 7vw;
}

.marquee span {
  font-style: italic;
}

.menu {
  transform: rotate(-90deg);
}

@keyframes marquee {
  0% {
    transform: translate3d(var(--move-initial), 0, 0);
  }

  100% {
    transform: translate3d(var(--move-final), 0, 0);
  }
}
